<!DOCTYPE html>
<html ng-app="app8">
  <head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <script src="js/angularjs8.js">

    </script>
  </head>
  <body>
    <div ng-controller="mainCtrl as parent">

      <p>
        Name:{{parent.name}}
      </p>
      <p>
        Sound:{{parent.sound}}
      </p>
      <button ng-click=parent.animalClick()>Animal Data</button><br>

    </div>

    <div ng-controller="dogCtrl as dog">

      <p>
        Name:{{dog.child.name}}
      </p>
      <p>
        Sound:{{dog.child.sound}}
      </p>
      <button ng-click=dog.child.animalClick()>Dog Data</button><br>
      <button ng-click=dog.child.dogData()>More Dog Data</button><br>

      <input ng-model="dog.child.bark"/><br><br>
      <span>New bark: {{dog.child.bark}}</span>
    </div>


  </body>
</html>
