
<div class="container-fluid">
  <div class="col-md-10">
      <!--Sidebar content-->
      <center>
          <h1>Crime data</h1>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">year</option>
          <option value="age">Under 500</option>
            <option value="age">Above 500</option>
        </select>

        <input ng-model="$ctrl.query"/>
        <button type="submit">Filter</button>
      </p>
    </center>

    </div>

    <div class="col-md-10">
      <center>

      <!--Body content-->
      <table class="table" border="2">
      <th><a href="#" ng-click="sortType = 'year'; sortReverse = !sortReverse">
        Year
        <span ng-show="sortType == 'year' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'year' && sortReverse" class="fa fa-caret-up"></span>
      </a>
      </th>

      <th>
        <a href="#" ng-click="sortType = 'Under'; sortReverse = !sortReverse">
          Under 500
          <span ng-show="sortType == 'Under' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Under' && sortReverse" class="fa fa-caret-up"></span>
        </a></th>
      <th>
        <a href="#" ng-click="sortType = 'Above'; sortReverse = !sortReverse">
            Above 500
          <span ng-show="sortType == 'Above' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'Above' && sortReverse" class="fa fa-caret-up"></span>
        </a>
    </th>

      <th>Remove Row</th>
      <tr ng-repeat="cr in $ctrl.crime | startfrom:(($ctrl.currentPage)*($ctrl.pageSize))| limitTo:$ctrl.pageSize|orderBy:sortType:sortReverse">
   <td>{{cr.year}}</td>
   <td>{{cr.Under}}</td>
   <td>{{cr.Above}}</td>
   <td><input type="button" value="delete" ng-click="$ctrl.remove(cr)"></td> </tr>
    </table>
    <button ng-disabled="$ctrl.currentPage == 0" ng-click="$ctrl.currentPage=$ctrl.currentPage-1">
        <<
  </button>
 <button ng-repeat="i in [1,2,3,4,5,6,7,8]  | limitTo:$ctrl.pageCount" ng-click="$ctrl.currentPage=i-1">{{i}}</button>
 <button ng-disabled="$ctrl.currentPage>=$ctrl.pageCount-1" ng-click="$ctrl.currentPage=$ctrl.currentPage+1">
        >>
 </button>
 <br><br>
 <form name="add" novalidate>

    <label>Year :</label><br>
    <input type="number" ng-model="$ctrl.year" name="year"
           min="1947" max="2016" required=""/><br />
    <div ng-show="add.$submitted || add.year.$touched">
    <span ng-show="add.year.$error.required">Enter the Year</span>
    <span ng-show="add.year.$error.min || add.year.$error.max">
      The year must be in range 1947 to 2016!</span>
    </div>
<br>
<label>Under 500 :</label><br>
<input type="number" ng-pattern="/^[0-9]+(\.[0-9]{0})?$/" ng-model="$ctrl.Under" name="Under"
       min="0" max="100000" required=""/><br />
<div ng-show="add.$submitted || add.Under.$touched">
<span ng-show="add.Under.$error.required">Enter the Under 500's data</span>
<span ng-show="add.Under.$error.min || add.Under.$error.max">
  The year must be in range 0 to 100000!</span>
</div>
<br>
<label>Above 500 :</label><br>
<input type="number" ng-pattern="/^[0-9]+(\.[0-9]{0})?$/" ng-model="$ctrl.Above" name="Above"
       min="0" max="100000" required=""/><br />
<div ng-show="add.$submitted || add.Above.$touched">
<span ng-show="add.Above.$error.required">Enter the Above 500's data</span>
<span ng-show="add.Above.$error.min || add.Above.$error.max">
  The year must be in range 0 to 100000!</span>
</div>
  <br>
<button type="submit" class="btn btn-primary" ng-disabled="add.$invalid" ng-click="$ctrl.addData()">Submit</button>
<!--<button class="btn btn-danger" type="reset">Reset</button>-->
</form>
    </center>
    </div>

</div>
